# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit config
.streamlit/

# Input/Output data files
*.xlsx
*.pdf
*.zip
*.log

# Windows specific
Desktop.ini
Thumbs.db
